/* Sticky footer styles.
-------------------------------------------------- */
html {
	position   : relative;
	min-height : 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom : 60px;
}

#footer {
	position         : absolute;
	bottom           : 0;
	width            : 100%;
	/* Set the fixed height of the footer here */
	height           : 60px;
}

#footer p {
	margin : 20px 0;
}

/* =Style fixes for the navbar.
 -------------------------------------------------------------- */
.navbar-form .input-group > .form-control {
	width : 35em;
}

/* =Style fixes for Angular Bootstrap.
 -------------------------------------------------------------- */
.nav, .pagination, .carousel, .panel-title a {
	cursor : pointer;
}

/* =Tabs.
 -------------------------------------------------------------- */
.tab-content {
	padding-top : 1.5em;
}

/* =Treegrid.
 -------------------------------------------------------------- */
.tree-grid th {
	text-transform : capitalize;
}

/* =Docs styles.
 -------------------------------------------------------------- */
.docs-no-margin-bottom {
	margin-bottom : 0 !important;
}